# INTRO CATEGORTIZE

The objetive is categorize the data. ex catogorize continous variables

In this notebook all the variables (features+target) where categorize using percetiles: quartile, quintile, decile. The choice of the kind of percentile used to categorize is defined in a parameter

TODO: it could be segmented the data according a custom interval

IMPORTANT:
- All features will be categorized by percentile
- The target also will be categorized by percentile and in addition it will be conserve its original values

The transformation consists of categorizing the features and targets into percentiles and performing applicable analyzes for data
categorical.

The transformations to features and target are the following:
- features: categorize by percentiles and delete continuous values of variables
- target: categorize by percentiles and also maintain the continuous values of the variables

Thus, perform analysis of discrete features vs. continuous target and also of discrete features vs. discrete target.
Remember that the segmentation part is designed to categorize/segment the data based on the condition of some
variable, which can be the target, so at that stage the missing analysis of continuous feature and discrete target can be carried out

The percentiles enabled in these codes to categorize the data are:
- quartiles
- quintiles
- decilesles
- deciles

In [1]:
import os
# fix root path to save outputs
actual_path = os.path.abspath(os.getcwd())
list_root_path = actual_path.split('\\')[:-1]
root_path = '\\'.join(list_root_path)
os.chdir(root_path)
print('root path: ', root_path)

root path:  D:\github-mi-repo\exploratory-data-analysis

### 0. Package and load data

In [2]:
from sklearn.datasets import fetch_california_housing
import json
import pandas as pd
import numpy as np

# plotly
import plotly
import plotly.express as px
import plotly.graph_objects as go
import plotly.io as pio
from plotly.subplots import make_subplots

In [3]:
data_X, data_y = fetch_california_housing(return_X_y=True, as_frame=True)

# joinn and rename dataset
data = data_X.copy()
data['Price'] = data_y
data.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,Price
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [4]:
data_example = data.copy()

## Generate intervals and save data

### 1. Categorize data according percentile

### 2. Codes to synthesize the analysis

In [5]:
# the same codes used in the folder segmentation analyst
def custom_segmentation(df, var_segment, intervals_segments, labels_segments):
    """
    Given a dataframe, generate a new column with a categorical values that divide the data in differents segments. 
    Segment the data by a certain variable with a custom segmentation
    
    Args
        df (dataframe): dataframe input
        var_segment (string): variable feature/target used to segment the data
        intervals_segments (list of numbers): list with the thresholds used to segment the data
        labels_segments (list of strings): list with the names of the differents segments generated. Shape: len(intervals_segments) - 1

    Return
        df(dataframe): the input dataframe with a new column with the segment
    """

    # apply pd.cut to generate intervals
    df[f'{var_segment}_segments'] = pd.cut(df[var_segment], 
                                           bins = intervals_segments, 
                                           labels = labels_segments, 
                                           include_lowest = True
                                          )

    return df

def generate_labels_percentile_segmentation(df, var_segment, list_percentile, list_labels_percentile_base):
    """
    Given a dataframe and a feature to segment in percentiles, calculate the labels of the segmentation
    
    Choices of labels:
        labels_percentile: ['q1', 'q2', 'q3', 'q4']
        labels_values: ['(0.15-1.2)', '(1.2-1.8)', '(1.8-2.65)', '(2.65-5.0)']
        labels_percentile_values: ['q1 - (0.15-1.2)', 'q2 - (1.2-1.8)', 'q3 - (1.8-2.65)', 'q4 - (2.65-5.0)']
        
    Args
        df (dataframe): dataframe input
        var_segment (string): variable feature/target used to segment the data
        list_percentile (list): list of floats with the percentiles to divide the data
        list_labels_percentile_base (list): list of strings with the base labels of percentiles to divide the data 

    Return
        list_labels_percentile_base, list_labels_values_range, list_labels_percentile_values_range (lists). list of the 3 types of labels generated
    """

    # get values of each percentile
    list_percentile_values = [df[var_segment].quantile(x).round(2) for x in list_percentile]
    
    # generate a list of string with the start value and end value of each interval
    list_percentile_start_end = [] 
    for index in range(len(list_percentile_values)-1): 
        start_value = list_percentile_values[index]
        end_value = list_percentile_values[index+1]
        string_start_end = f'{start_value}-{end_value}'
        list_percentile_start_end.append(string_start_end)
    
    # output final v0 - base
    #list_labels_percentile_base
    
    # output final v1 - only values start end
    list_labels_values_range = []
    for index in range(len(list_labels_percentile_base)):
        string_output = f'({list_percentile_start_end[index]})'
        list_labels_values_range.append(string_output)
    
    # output final v2 - percentile and values start end
    list_labels_percentile_values_range = []
    for index in range(len(list_labels_percentile_base)):
        string_output = f'{list_labels_percentile_base[index]} - ({list_percentile_start_end[index]})'
        list_labels_percentile_values_range.append(string_output)
    
    return list_labels_percentile_base, list_labels_values_range, list_labels_percentile_values_range

def percentile_segmentation(df, var_segment, type_percentile):
    """
    Given a dataframe, generate a new column with a categorical values that divide the data in differents segments. 
    Segment the data by a certain variable with a percentile segmentation. the segmentation could be by quartiles, quintiles, deciles
    
    Args
        df (dataframe): dataframe input
        var_segment (string): variable feature/target used to segment the data
        type_percentile(string): type of percentile segmentation
    
    Return
        df(dataframe): the input dataframe with a new column with the segment

    TODO: THE LABELS GERATED AND USED ARE ONLY ['q1 - (0.15-1.2)', 'q2 - (1.2-1.8)', 'q3 - (1.8-2.65)', 'q4 - (2.65-5.0)']
    ADD A ARGS TO SELECT THE KIND OF LABELS
    """

    # validate input - TODO: create a decent unit test
    choices_segmentation = ['quartile', 'quintile', 'decile']
    if type_percentile not in choices_segmentation:
        print('error in choices of segmentation')
        print(f'Possibles choices: {choices_segmentation}')
        return 0

    # quartile
    if type_percentile == 'quartile':
        quartile = [0, 0.25, 0.5, 0.75, 1]
        labels_quartile_base = ['q1', 'q2', 'q3', 'q4']
        _, _,  labels_quartile = generate_labels_percentile_segmentation(df, var_segment, quartile, labels_quartile_base)
        df[f'quartile_{var_segment}'] = pd.qcut(df[var_segment], q = quartile, labels = labels_quartile)
    
    # quintile
    if type_percentile == 'quintile':
        quintile = [0, 0.2, 0.4, 0.6, 0.8, 1]
        labels_quintile_base = ['q1', 'q2', 'q3', 'q4', 'q5']
        _, _,  labels_quintile = generate_labels_percentile_segmentation(df, var_segment, quintile, labels_quintile_base)
        df[f'quintile_{var_segment}'] = pd.qcut(df[var_segment], q = quintile, labels = labels_quintile)


    # decile
    if type_percentile == 'decile':
        decile = [0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1]
        labels_decile_base = ['d1', 'd2', 'd3', 'd4', 'd5', 'd6', 'd7', 'd8', 'd9', 'd10']
        _, _,  labels_decile = generate_labels_percentile_segmentation(df, var_segment, decile, labels_decile_base)
        df[f'decile_{var_segment}'] = pd.qcut(df[var_segment], q = decile, labels = labels_decile)

    return df

#### DO TRANSFORMATION

In [6]:
# list of variables (features+target)
list_features_target  = data.columns.tolist()
list_features_target

['MedInc',
 'HouseAge',
 'AveRooms',
 'AveBedrms',
 'Population',
 'AveOccup',
 'Latitude',
 'Longitude',
 'Price']

In [7]:
# list features and target
list_target = ['Price']
list_features = list(set(list_features_target) - set(list_target))

print('features: ', list_features)
print('\ntarget: ', list_target)

features:  ['Latitude', 'Population', 'HouseAge', 'Longitude', 'AveOccup', 'AveRooms', 'MedInc', 'AveBedrms']

target:  ['Price']

In [1]:
# list of transformation/categorization for each variable. in this example all quintile categotization
list_cat_features_percentile = ['quartile', 'quartile','quartile',
                      'quartile', 'quartile', 'quartile',
                      'quartile', 'quartile']
list_cat_target_percentile = ['quartile']

list_cat_features_target_percentile = list_cat_features_percentile + list_cat_target_percentile
list_cat_features_target_percentile

['quartile',
 'quartile',
 'quartile',
 'quartile',
 'quartile',
 'quartile',
 'quartile',
 'quartile',
 'quartile']

DO 2 TRANSFORMATIONS:
- df_discrete_discrete: dataframe with feature discrete variables and target a discrete value too
- df_discrete_contious: dataframe with feature discrete variables and target continous values (original values of target)

In [9]:
# categorize features+target and delete features continous variables
df_cat_feature_target = data.copy()
for index, variable in enumerate(list_features_target):
    df_cat_feature_target = percentile_segmentation(df = df_cat_feature_target, var_segment = variable, type_percentile = list_cat_features_target_percentile[index])
    df_cat_feature_target.drop(columns = variable, inplace = True)

In [10]:
# categorize only features and conserve continuos target
df_cat_feature =  data.copy()
for index, variable in enumerate(list_features):
    df_cat_feature = percentile_segmentation(df = df_cat_feature, var_segment = variable, type_percentile = list_cat_features_percentile[index])
    df_cat_feature.drop(columns = variable, inplace = True)

##### SAVE DATA SEGMENTATION

In [11]:
# data feature and target discrete
df_cat_feature_target.to_pickle('data/df_cat_feature_target.pkl')

# data only feature discrete
df_cat_feature.to_pickle('data/df_cat_feature.pkl')

##### READ DATA

In [12]:
# data feature and target discrete
pd.read_pickle('data/df_cat_feature_target.pkl')

,quartile_MedInc,quartile_HouseAge,quartile_AveRooms,quartile_AveBedrms,quartile_Population,quartile_AveOccup,quartile_Latitude,quartile_Longitude,quartile_Price
0,q4 - (4.74-15.0),q4 - (37.0-52.0),q4 - (6.05-141.91),q2 - (1.01-1.05),q1 - (3.0-787.0),q2 - (2.43-2.82),q4 - (37.71-41.95),q1 - (-124.35--121.8),q4 - (2.65-5.0)
1,q4 - (4.74-15.0),q2 - (18.0-29.0),q4 - (6.05-141.91),q1 - (0.33-1.01),q4 - (1725.0-35682.0),q1 - (0.69-2.43),q4 - (37.71-41.95),q1 - (-124.35--121.8),q4 - (2.65-5.0)
2,q4 - (4.74-15.0),q4 - (37.0-52.0),q4 - (6.05-141.91),q3 - (1.05-1.1),q1 - (3.0-787.0),q2 - (2.43-2.82),q4 - (37.71-41.95),q1 - (-124.35--121.8),q4 - (2.65-5.0)
3,q4 - (4.74-15.0),q4 - (37.0-52.0),q3 - (5.23-6.05),q3 - (1.05-1.1),q1 - (3.0-787.0),q2 - (2.43-2.82),q4 - (37.71-41.95),q1 - (-124.35--121.8),q4 - (2.65-5.0)
4,q3 - (3.53-4.74),q4 - (37.0-52.0),q4 - (6.05-141.91),q3 - (1.05-1.1),q1 - (3.0-787.0),q1 - (0.69-2.43),q4 - (37.71-41.95),q1 - (-124.35--121.8),q4 - (2.65-5.0)
...,...,...,...,...,...,...,...,...,...
20635,q1 - (0.5-2.56),q2 - (18.0-29.0),q2 - (4.44-5.23),q4 - (1.1-34.07),q2 - (787.0-1166.0),q2 - (2.43-2.82),q4 - (37.71-41.95),q2 - (-121.8--118.49),q1 - (0.15-1.2)
20636,q1 - (0.5-2.56),q1 - (1.0-18.0),q4 - (6.05-141.91),q4 - (1.1-34.07),q1 - (3.0-787.0),q3 - (2.82-3.28),q4 - (37.71-41.95),q2 - (-121.8--118.49),q1 - (0.15-1.2)
20637,q1 - (0.5-2.56),q1 - (1.0-18.0),q2 - (4.44-5.23),q4 - (1.1-34.07),q2 - (787.0-1166.0),q1 - (0.69-2.43),q4 - (37.71-41.95),q2 - (-121.8--118.49),q1 - (0.15-1.2)
20638,q1 - (0.5-2.56),q1 - (1.0-18.0),q3 - (5.23-6.05),q4 - (1.1-34.07),q1 - (3.0-787.0),q1 - (0.69-2.43),q4 - (37.71-41.95),q2 - (-121.8--118.49),q1 - (0.15-1.2)
20639,q1 - (0.5-2.56),q1 - (1.0-18.0),q3 - (5.23-6.05),q4 - (1.1-34.07),q3 - (1166.0-1725.0),q2 - (2.43-2.82),q4 - (37.71-41.95),q2 - (-121.8--118.49),q1 - (0.15-1.2)

In [13]:
# data only feature discrete
pd.read_pickle('data/df_cat_feature.pkl')

,Price,quartile_Latitude,quartile_Population,quartile_HouseAge,quartile_Longitude,quartile_AveOccup,quartile_AveRooms,quartile_MedInc,quartile_AveBedrms
0,4.526,q4 - (37.71-41.95),q1 - (3.0-787.0),q4 - (37.0-52.0),q1 - (-124.35--121.8),q2 - (2.43-2.82),q4 - (6.05-141.91),q4 - (4.74-15.0),q2 - (1.01-1.05)
1,3.585,q4 - (37.71-41.95),q4 - (1725.0-35682.0),q2 - (18.0-29.0),q1 - (-124.35--121.8),q1 - (0.69-2.43),q4 - (6.05-141.91),q4 - (4.74-15.0),q1 - (0.33-1.01)
2,3.521,q4 - (37.71-41.95),q1 - (3.0-787.0),q4 - (37.0-52.0),q1 - (-124.35--121.8),q2 - (2.43-2.82),q4 - (6.05-141.91),q4 - (4.74-15.0),q3 - (1.05-1.1)
3,3.413,q4 - (37.71-41.95),q1 - (3.0-787.0),q4 - (37.0-52.0),q1 - (-124.35--121.8),q2 - (2.43-2.82),q3 - (5.23-6.05),q4 - (4.74-15.0),q3 - (1.05-1.1)
4,3.422,q4 - (37.71-41.95),q1 - (3.0-787.0),q4 - (37.0-52.0),q1 - (-124.35--121.8),q1 - (0.69-2.43),q4 - (6.05-141.91),q3 - (3.53-4.74),q3 - (1.05-1.1)
...,...,...,...,...,...,...,...,...,...
20635,0.781,q4 - (37.71-41.95),q2 - (787.0-1166.0),q2 - (18.0-29.0),q2 - (-121.8--118.49),q2 - (2.43-2.82),q2 - (4.44-5.23),q1 - (0.5-2.56),q4 - (1.1-34.07)
20636,0.771,q4 - (37.71-41.95),q1 - (3.0-787.0),q1 - (1.0-18.0),q2 - (-121.8--118.49),q3 - (2.82-3.28),q4 - (6.05-141.91),q1 - (0.5-2.56),q4 - (1.1-34.07)
20637,0.923,q4 - (37.71-41.95),q2 - (787.0-1166.0),q1 - (1.0-18.0),q2 - (-121.8--118.49),q1 - (0.69-2.43),q2 - (4.44-5.23),q1 - (0.5-2.56),q4 - (1.1-34.07)
20638,0.847,q4 - (37.71-41.95),q1 - (3.0-787.0),q1 - (1.0-18.0),q2 - (-121.8--118.49),q1 - (0.69-2.43),q3 - (5.23-6.05),q1 - (0.5-2.56),q4 - (1.1-34.07)
20639,0.894,q4 - (37.71-41.95),q3 - (1166.0-1725.0),q1 - (1.0-18.0),q2 - (-121.8--118.49),q2 - (2.43-2.82),q3 - (5.23-6.05),q1 - (0.5-2.56),q4 - (1.1-34.07)